main {
  padding: 0 20px 80px 20px;
  width: 96%;
}

.top-article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-article-title h1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.top-article-description {
  margin-bottom: 60px;
}

.top-article-description p {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}

.main-article-container {
  display: flex;
  justify-content: space-around;
}

.left-side-article-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-side-article-container div {
  margin-bottom: 20px;
}

.left-side-article-container p {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
  line-height: 24px;
}

.left-side-article-container button {
  margin-top: 100px;
  width: 420px;
  height: 115px;
  background-color: var(--navy);
  color: var(--text-blue);
  border-radius: 60px;
  font-size: 2.25rem;
  font-size: 400;
  text-align: center;
  border: none;
  box-shadow: inset 0 0 0 0 var(--text-blue);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.left-side-article-container button:hover {
  box-shadow: inset 430px 0 0 0 var(--text-blue);
  color: var(--text-black);
  cursor: pointer;
}

.main-article-img-container {
  padding-top: 20px;
  width: 30%;
}

.main-article-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

@media (max-width: 1000px) {
  main {
    padding-bottom: 70px;
  }

  .top-article-container {
    margin-bottom: -20px;
  }

  .main-article-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .left-side-article-container {
    width: 90%;
  }
  .left-side-article-container button {
    margin-top: 50px;
  }

  .main-article-img-container {
    width: 40%;
  }
}

@media (max-width: 450px) {
  .light-dark-mode-box {
    margin-left: -50px;
  }
  .left-side-article-container {
    align-items: center;
  }

  .left-side-article-container button {
    width: 220px;
    height: 115px;
  }

  .main-article-container {
    text-align: center;
  }

  .main-article-img-container {
    width: 60%;
  }
}
